@import '../styles.scss';

.phase {
  background-color: black;
  padding: 20px;
  width: 200px;
  height: 200px;
}

a {
  font-weight: 500;
  font-size: 12px;
  margin-right: 13px;
  cursor: pointer;
}
